{% extends 'base.html' %}
@import url('myheader_reset.css');
body {
	background-color: #f0f0f0;
	/*font-family: helvetica, "Times New Roman", Times, serif;*/
	font-family: Verdana,"Times New Roman", Times, serif;
		background-color: black;
}

nav {
  margin-top:-3.5%;
  width:80%;
  padding:0;
  height: auto;;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
	display: flex;
  justify-content: center;
	background-color: black;
}

hr {
	width:100%;
	border-bottom:1px solid purple;
	position:fixed;
}

a:focus {
	outline: none;
}

.clear {
	clear: both;
}

#page-wrap {
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	display: flex;
  justify-content: center;
	background-color: black;
}

hr {
		border-bottom:1px solid purple;
}
ul#main-nav {
	margin-left: 20px;
}
ul#main-nav li {
	float: left;
	position: relative;
	margin-left: -20px;
	display: inline-block;;
}
ul#main-nav li a {
	position: relative;
	width: 110px;
	height: 29px;
	display: block;
	background-image: url('/static/images/img_header/tabs.png');
	background-position: center center;
	color: #44403b;
	text-decoration: none;
	font-size: 12px;
	padding-top: 12px;
  margin-bottom:0;
	text-align: left;
	padding-left: 30px;
	font-weight: bold;
  font-family: "Georgia, serif";
  color:black;
  text-align: left;
}
ul#main-nav li.home a {
	background-image: url('/static/images/img_header/tab-home.png');
	color:black;
		font-size: 12px;
}
ul#main-nav li.current a {
	background-position: top;
	color: #ffffff;
}
ul#main-nav li a:hover {
	background-position: bottom;
	color: #ffffff;
}
ul#main-nav li.current a:hover {
	background-position: top; /*To Prevent the Current tab from changing colour on hover*/
	color: #ffffff;
}
ul#main-nav li.current {
	z-index: 100;
}


ul#main-nav li.home {
	z-index: 100;
}

ul#main-nav li.portfolio {
	z-index: 99;
}
ul#main-nav li.services {
	z-index: 98;
}
ul#main-nav li.about {
	z-index: 97;
}
ul#main-nav li.contact {
	z-index: 96;
}
#image {
	position: relative;
	float: left;
	margin-left: 40px;
	margin-top: 25px;
}
#featured {
	position: relative;
	background-color: #577295;
	background-image: url('/static/images/img_header/featured-border.jpg');
	background-repeat: repeat-y;
	background-position: left;
	height: 12px;
	color: #ffffff;
  margin-top:-2px;
  position:fixed;
  overflow: hidden;
}

#featured h1 {
	font-size: 24px;
	position: relative;
	margin-bottom: 17px;
}
#featured p {
	line-height: 18px;
	font-size: 12px;
}
#featured-content{
	float: right;
	position: relative;
	width: 322px;
	margin-top: 30px;
	margin-right: 35px;
	display: inline;
}

/********************/
#fileuploader{visibility: hidden;}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 12px;
  right: 15px;
  border: 3px solid #fafefd;
  z-index: 9;
}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #faeafc;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddaafd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CA050;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #e66cea;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*    footer */
.footer-container{
	position:absolute;
	bottom:0.5%;
	width:100%;
	padding:0;
	height: auto;;
	overflow: hidden;
	position: fixed; /* Set the footer to fixed position */
	background-color: grey;
}

/* Image */

#upload-image-container {
  width:100%;
  height:auto;
  padding:0;
	border:1px solid orange;
}


#uploaded-images-group{
  display:inline-block;
  width:420px;
  height:auto;
  border:5px solid blue;
}

#uploaded-images-console{
  display:inline-block;
  width:69%;
  height:auto;
	padding:0;
  border:1px solid yellow;
	vertical-align: top;
}
