{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="stylesheet"   href="{% static 'css/css_header/myheader.css' %}">
<link href="https://rawgithub.com/hayageek/jquery-upload-file/master/css/uploadfile.css" rel="stylesheet">
</head>

<body>
  <!--    ...............            HEADER START     ..............              -->
	<div id="page-wrap">
    <nav>
		<ul id="main-nav">
			<li class="home"  ><a href="#" id="cnn-load-Image" >Upload file</a></li>
			<li class="portfolio" ><a href="#" id="cnn-grey-scale" >GreyScale</a></li>
			<li class="services" ><a  href="#" id="cnn-image-grid" >Pixel</a></li>
      <li class="contact"><a href="#" id="build_padding" >Add Padding</a></li>
			<li class="contact"><a  href="#" id="build_kernel" >Build-kernel</a></li>
			<li class="contact"><a href="#" id="convolution" >Convolution</a></li>
			<li class="contact"><a  href="#"id="max-pooling" >Max Pooling</a></li>
			<li class="contact"><a href="#"id="fully-conn" >Full Conn</a></li>
			<li class="contact"><a href="#"id="train-conn" >Training NN</a></li>
			<li class="contact"><a href="#"id="predict-conn" >Prediction</a></li>
      <li>
      <!--   <select name="pets" id="nympy-functions">
          <option value="">-- Please numpy funtion --</option>
          {% for function in numpy_functions %}
          <option value="{{ func }}">{{ function }}</option>
          {% endfor %}
        </select>
      </li> -->
      <li id="button-zoom" style="position:absolute; width:5%; right:12;"></li>
		</ul>
    <p class="reload-page"><button onClick="window.location.reload()"><span class=reload>&#x21bb;</span></button></p>
    </nav>
		<div class="clear"></div>
		<div id="featured">
		</div>
	</div>
  <!--    ...............            HEADER END     ..............                -->
  {% block content%}
  {% endblock %}
  <!--    ...............            FOOTER START     ..............              -->
  <div class="">
    footer goes here
  </div>
  <!--    ...............            FOOTER END     ..............              -->


  <!-- ...............              JAVASCRIPT START ................             -->
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
	<script src="https://unpkg.com/textures@1.2.0/dist/textures.js"></script>
  <script src="https://d3js.org/d3-array.v2.min.js"></script>
  <script src="https://d3js.org/d3-color.v2.min.js"></script>
  <script src="https://d3js.org/d3-format.v2.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
  <script src="https://d3js.org/d3-time.v2.min.js"></script>
  <script src="https://d3js.org/d3-time-format.v3.min.js"></script>
  <script src="https://d3js.org/d3-scale.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>
  <script src="http://d3js.org/d3.v4.js"></script>
  <script src="https://rawgithub.com/hayageek/jquery-upload-file/master/js/jquery.uploadfile.min.js"></script>
  <script type="text/javascript"  src="{% static 'js/global_vars.js' %}"></script>
  <script type="text/javascript"  src="{% static 'js/d3-3d.js' %}"></script>
  <script type="text/javascript"  src="{% static 'js/header.js' %}"></script>
  <script type="text/javascript"  src="{% static 'js/upload_file.js' %}"></script>
  <script type="text/javascript"  src="{% static 'js/pixel.js' %}"></script>
  <script type="text/javascript"  src="{% static 'js/kernel.js' %}"></script>


  <script type="text/javascript" src="{% static 'js/index.js' %}" ></script>
  <!-- ...............              JAVASCRIPT END ................             -->
</body>
</html>



  <!-- .............................................................................  -->
