{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--    ..............................NAVBAR UPLOAD FILE.................................. -->


    <!--  ................................UPLOAD .......................................... -->
    <!-- <div class="popup-upload-file-container" style="display:none; margin:2px; padding:0;">
      <h1>   Dynamic Upload Example </h1>
      <input type="file" id="upload_file"  data-csrf-token="{{ csrf_token }}" accept="image/gif, image/jpeg, image/png ,image/jpg"  multiple>
      <button type='submit'>
          Submit
      </button>
    </div> --> <!-- end class="popup -->

    <div class="fileupload-container"><div id="fileuploader">Upload</div></div>

    <!-- <div class="container pt-4">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">N°</th>
            <th class="text-center">images</th>
            <th class="text-center">remove</th>
          </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
      </table>
    </div>
    <button class="btn btn-md btn-primary"
        id="addBtn" type="button">
      Add new Row
    </button>
  </div> -->
    <!--  ............................................................................ -->
    <div class="upload-image-container">
    </div>

    <!--  ............................................................................. -->
    <div class="board-container">
            <div id="board"> </div>
    </div>
    <!-- ..............................................................................  -->
    <!-- ...................... MODAL FILTER POP UP ...............................  -->
    <div class="form-popup" id="myForm">
      <form  class="form-container">
        <h1>Filter</h1>

        <label for="kernelv"><b>Kernel</b></label>
        <input type="text" placeholder="filter-values" name="filter" required>


        <button type="submit" class="btn" name="submit-filter">Submit</button>
        <button type="submit" class="btn cancel" name="reset-filter" >Close</button>
      </form>
    </div>

    <!-- .............................................................................  -->
    <!-- ...................... conv image result    .................................  -->
    <div class="convolution_image_container">  </div>

    <!-- .............................................................................  -->
    <!-- ...................... MAX POOLING    .................................  -->
    <div class="max_pooling_image_container">  </div>

    <!-- .............................................................................  -->
    <!-- ...................... FULLY CONNECTED IMAGE    .................................  -->
    <div class="fully_connected_image_container">  </div>


    <!-- .............................................................................  -->
    <!-- ...................... console container   .................................  -->
      <div style="display:none;" class="console-container">
          <textarea id="console" name="name" rows="8" cols="80"></textarea>
       </div>
       <!-- <svg width="960" height="500"></svg> -->
       <div class="image-channels" style="position:absolute; z-index:5; width:58%; height:90%;border:1px solid blue; top:12%; left:40%;"></div>

       <!-- ...................... GREY SCALE ARRAY ...................... -->
       <div class="grey-scale-array" style="position:absolute; z-index:5; width:18%; height:40%;border:1px solid orange; top: 64%; left:6%;"></div>

       <!-- ...................  MAX POOLING ARRAY .....................   --->
       <div class="max-pooling-array" style="position:absolute; z-index:5; width:18%; height:40%;border:1px solid orange; top: 119%; left:6%;"></div>

       <!-- ...................  FULLY CONNECTED ARRAY .....................   --->
       <div class="fully-connected-array" style="position:absolute; z-index:5; width:18%; height:40%;border:1px solid orange; top: 151%; left:4%;"></div>


  </div>
{% endblock %}
